
<div *ngIf="payout">
    <h2><span>Payout</span> {{payout.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Character Name</span></dt>
        <dd>
            <span>{{payout.user}}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
            <span>{{payout.amount}}</span>
        </dd>
        <dt><span>Last Updated</span></dt>
        <dd>
            <span>{{payout.lastUpdated | date:'medium'}}</span>
        </dd>
        <dt><span>Last Modified By</span></dt>
        <dd>
            <span>{{payout.lastModifiedBy}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{payout.status}}</span>
        </dd>
        <dt><span>Details</span></dt>
        <dd>
            <span>{{payout.details}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payout/'+ payout.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
