
<div *ngIf="transaction">
    <h2><span>Transaction</span> {{transaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>User</span></dt>
        <dd>
            <span>{{transaction.user}}</span>
        </dd>
        <dt><span>Instant</span></dt>
        <dd>
            <span>{{transaction.instant | date:'medium'}}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
            <span>{{transaction.amount}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{transaction.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
