
<div *ngIf="solarSystem">
    <h2><span>Solar System</span> {{solarSystem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>System Id</span></dt>
        <dd>
            <span>{{solarSystem.systemId}}</span>
        </dd>
        <dt><span>Sytem Name</span></dt>
        <dd>
            <span>{{solarSystem.sytemName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'solar-system/'+ solarSystem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
