<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <img class="card-img-top" src="../../../content/images/intro1.png" width="50%">
            <div class="card-body">
                <h4 class="card-title">1. Log In with EvE SSO</h4>
                <p class="card-text">Only authenticate, no scopes required. Your tracking starts!</p>
                <p class="card-text">
                    <small class="text-muted">Select your main character.</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <img class="card-img-top" src="../../../content/images/intro2.png">
            <div class="card-body">
                <h4 class="card-title">2. Shoot Enemies</h4>
                <p class="card-text">Undock and defend our space. You will see which systems are tracked after you log
                                     in.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <img class="card-img-top" src="../../../content/images/intro3.png" width="50%">
            <div class="card-body">
                <h4 class="card-title">3. Collect Killmails</h4>
                <p class="card-text">Tackle, ewar, deeps or plain whoring. Do what you can do best!</p>
                <p class="card-text">
                    <small class="text-muted">Disclaimer: Fleet kills (>20 attackers) don't count.</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <img class="card-img-top" src="../../../content/images/intro4.png">
            <div class="card-body">
                <h4 class="card-title">4. Race for the Payout</h4>
                <p class="card-text">Check in to see your potential payout as you can closer and closer to that sweeeet
                                     ISK.</p>
            </div>
        </div>
    </div>
</div>
