<style>
    .content-box {
        padding-left  : 30px;
        padding-right : 30px;
        padding-top   : 10px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <p>We want <b>you</b> to make our space safer. Help the industry grow and the ratters raise the war chest by doing what you do best: <b>Shooting enemies and making dank ticks!</b></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ngb-tabset>
            <ngb-tab title="Shooting Enemies">
                <ng-template ngbTabContent>
                    <div class="content-box">
                        <p>We believe encouraging fast local PvP responses can protect our space by protecting ratters and miners who again raise our ADMs. This again makes our space easier
                           to defend with the current sovereignty system.</p>
                        <p>Once you logged in, this website will track your PvP activity from <a target="_blank" href="https://zkillboard.com">zkillboard</a>. Based on this data we give you points for brave defenses,
                           last hits and all the things that boost fast local responses. Every day during downtime, we transfer the points to ISK. Once you reach 100mil ISK, you can request a payout.</p>
                        Maps (hunting systems are circled black):
                        <ul>
                            <li>
                                <a *ngIf="systemsCatch" target="_blank" href="{{getDotlanLink('Catch', true, false)}}">Catch</a>
                            </li>
                            <li>
                                <a *ngIf="systemsImpass" target="_blank" href="{{getDotlanLink('Impass', true, false)}}">Impass</a>
                            </li>
                        </ul>
                        <p>To get Brave Bucks, your killmail must not be from a fleet fight (max. 20 attackers), not an awox and in one of the circled systems on the right. Empty pods are not counted.</p>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="ADM Boosting">
                <ng-template ngbTabContent>
                    <div class="content-box">
                        <p>How cool would it be if you got ISK for making ISK? If you boost ADMs in selected
                           systems with an ADM of 4 or lower, you will be awarded additional Brave Bucks.</p>
                        <p>To see that you are ratting in the targeted systems, we need to track your wallet
                           journal. There we find information on how many rats you killed and where you did
                           that. The more rats you kill (in number of hulls, not ISK bounties), the better!</p>
                        Maps (target systems are circled black):
                        <ul>
                            <li>
                                <a *ngIf="systemsCatch" target="_blank" href="{{getDotlanLink('Catch', false, true)}}">Catch</a>
                            </li>
                            <li>
                                <a *ngIf="systemsImpass" target="_blank" href="{{getDotlanLink('Impass', false, true)}}">Impass</a>
                            </li>
                        </ul>
                        <p>Add your character(s): <a *ngIf="walletUrl" class="btn btn-primary" href="{{walletUrl}}">Grant wallet read access</a></P>
                        <table class="table table-condensed table-striped" *ngIf="characterNames && characterNames.length">
                            <tr>
                                <th>Tracked Characters</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let c of characterNames">
                                <td>{{c}}</td>
                                <td><button (click)="revokeCharacter(c)" class="btn btn-danger">Revoke</button></td>
                            </tr>
                        </table>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Bucks Calculation">
                <ng-template ngbTabContent>
                    <div class="content-box">
                        Brave Bucks are based on a monthly budget Every day of the month
                        gets the same share (e.g. 220mil). Every day during downtime we do two things: First
                        we take all the kills that were tracked and do some points calculation (see below) so that
                        every player ends up with a number of points for that day (may be 0 if you didn't get on any
                        legitimate killmails, we will soon show the points for each killmail on the recent defense
                        kills section). Secondly we spread the isk for that day over the points that were gathered that
                        day. So if one player got 60 points, and one other player 40, they will get 90 and 64 mil each.
                        That ISK is added to your bar during DT. Once you reach 100mil isk, you can request a payout.
                        <br/>
                        Points calculation is super simple: <i>sqrt(zKillPoints * (6 - ADM))</i>
                        <br/>
                        <ul>
                            <li>sqrt to keep the points balanced, many killmails only have one point, some have 50</li>
                            <li>6 - ADM: systems with an ADM of 6 are not rewarded, from there the lower the better</li>
                        </ul>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
<br/>
